<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tasky - Edit Task</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Navigation Bar -->
<div class="navbar">
  <button id="theme-toggle" class="theme-toggle">🌙 Dark Mode</button>
  <a th:href="@{/tasks}" class="button">Tasks</a>
  <a th:href="@{/categories}">Categories</a>
  <a th:href="@{/logout}">Logout</a>
</div>

<div class="container">
  <h2>Edit Task</h2>
  <form th:action="@{/tasks/update}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{timeZone}" id="timeZone" />
    <label>Title:</label>
    <input type="text" th:field="*{title}" placeholder="Title" required autofocus/>
    <label>Description:</label>
    <textarea th:field="*{description}" placeholder="Description"></textarea>
    <label>Due Date:</label>
    <input type="date" th:field="*{dueDate}" placeholder="Due Date"/>
    <label>Category:</label>
    <select th:field="*{category.id}">
      <option value="" th:text="'Select Category'"></option>
      <option th:each="category : ${categories}"
              th:value="${category.id}"
              th:text="${category.name}"
              th:selected="${task.category != null} ? ${category.id == task.category.id} : false">
      </option>
    </select>
    <label>Reminder Time:</label>
    <input type="datetime-local" th:field="*{reminderTime}" />
    <label for="priority">Priority</label>
    <select id="priority" th:field="*{priority}">
      <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority}">Priority</option>
    </select>
    <label>Task Status</label>
    <select id="status" name="status">
      <option value="Not started">Not started</option>
      <option value="In progress">In progress</option>
      <option value="Completed">Completed</option>
    </select>
    <button type="submit">Update Task</button>
  </form>
</div><script th:src="@{/js/theme-toggle.js}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.getElementById("timeZone").value = timeZone;
  });
</script>
</body>
</html>
